@import "../styles.scss";

div {
    width: 86vw;
    margin: 0 auto;

    @include respond-to('x-large') {
        width: 90vw;
    }

    @include respond-to('large') {
        width: 96vw;
    }

    @include respond-to('small') {
        width: 98vw;
    }

    
    #content {
        height: 86vh;
        position: relative;
        z-index: 99;

        @include respond-to('small') {
            height: 200vh;
        }
    }

    &.small-view {
        width: 58vw;
        margin-top: 16vh;

        @include respond-to('x-large') {
            width: 64vw;
        }
    
        @include respond-to('large') {
            width: 76vw;
        }
    
        @include respond-to('small') {
            width: 98vw;
            margin-top: 0;
        }

        #content {
            height: 50vh;
        }
    }

}