@import "../styles.scss";

div {
    width: 86vw;
    margin: 0 auto;

    @include respond-to('small') {
        width: 98vw;
    }

    #content {
        height: 86vh;
        position: relative;
        z-index: 99;

        @include respond-to('small') {
            height: 200vh;
        }
    }
}