@import "../../../../styles.scss";

footer {
    position: relative;
    z-index: 9;
    padding-top: 0.125rem;

    ul {
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            list-style-type: none;

            a {
                padding: 0 0.75rem;
                font-size: x-small;
                opacity: 0.4;
                @include std-text-bold();
                color: #fff;
                transition: 300ms ease;
                text-decoration: none;

                &.coffee {
                    opacity: 0.65;

                    i {
                        padding-left: 0.25rem;
                    }
                }

                &:hover {
                    text-decoration: underline;
                    opacity: 1;
                }
            }

        }
    }
}

.static-page {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 12vh 32vw;
    color: #fff;

    @include respond-to('small') {
        padding: 6vh 8vw;
    }

    @include respond-to('medium') {
        padding: 8vh 22vw;
    }

    .scrollable {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        padding-right: 2rem;
    }

    .close {
        @include std-text-boldest();
        text-decoration: underline;
        cursor: pointer;
        padding-bottom: 2vh;
    }

    a {
        color: #fff;
        text-decoration: underline;
    }

    .fakeEmail {
        &:before {
            content: "hello";
        }

        &:after {
            content: "mockthat.dev";
        }
    }

    .fakeEmailPrivacy {
        &:before {
            content: "legal-privacy-concerns";
        }

        &:after {
            content: "mockthat.dev";
        }
    }

    .fakeAddress {
        .n:before {
            content: 'Jannik Rulitschka';
        }

        .s:before {
            content: 'Fritz-Kohl-Straße 3A';
        }

        .c:before {
            content: '55122 Mainz';
        }
    }
}