@import "../../../../styles.scss";

footer {
    padding-top: .5vh;

    ul {
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            cursor: pointer;
            padding: 0 1rem;
            font-size: x-small;
            opacity: 0.5;
            @include std-text-bold();
            display: inline-block;
            color: #fff;
            list-style-type: none;
            transition: 300ms ease;

            &:hover {
                text-decoration: underline;
                opacity: 1;
            }
        }
    }
}

.static-page {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 12vh 32vw;
    color: #fff;


    .scrollable {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
    }

    .close {
        @include std-text-boldest();
        text-decoration: underline;
        cursor: pointer;
        padding-bottom: 2vh;
    }

    a {
        color: #fff;
        text-decoration: underline;
    }

    .fakeEmail {
        &:before {
            content: "hello";
        }

        &:after {
            content: "mockthat.dev";
        }
    }

    .fakeEmailPrivacy {
        &:before {
            content: "legal-privacy-concerns";
        }

        &:after {
            content: "mockthat.dev";
        }
    }

    .fakeAddress {
        .n:before {
            content: 'Jannik Rulitschka';
        }

        .s:before {
            content: 'Fritz-Kohl-Straße 3A';
        }

        .c:before {
            content: '55122 Mainz';
        }
    }
}