<footer>
    <ul>
        <li (click)="togglePrivacy()">Data Privacy</li>
        <li (click)="toggleLegalNotice()">Impressum – Legal Notice</li>
    </ul>
</footer>
<section class="static-page privacy" *ngIf="showPrivacy">
    <div (click)="togglePrivacy()" class="close">close</div>
    <div class="scrollable">
        <h1>Data Privacy</h1>
        <h2>1. Data protection at a glance</h2>
        <h3>General information</h3>
        <p>The following notes provide a simple overview of what happens to your personal information when you visit our
            website. Personal information is any information that personally identifies you. For detailed information on
            the subject of data protection, please refer to our data protection declaration listed below this text.</p>
        <h3>Data collection on our website</h3>
        <p><strong>Who is responsible for data collection on this website?</strong></p>
        <p>The data processing on this website is carried out by the website operator. Their contact data can be found
            in the imprint of this website.</p>
        <p><strong>How do we collect your data?</strong></p>
        <p>On the one hand, your data is collected by you communicating it to us. This may involve data that you enter
            in a contact form, for example.</p>
        <p>Other data is automatically collected by our IT systems when you visit the website. These are mainly
            technical data (e.g. Internet browser, operating system or time of the page call). This data is collected
            automatically as soon as you enter our website..</p>
        <p><strong>What do we use your data for?</strong></p>
        <p>Part of the data is collected to ensure that the website is error-free. Other data can be used to analyse
            your user behaviour.</p>
        <p><strong>What rights do you have with regard to your data?</strong></p>
        <p>You have the right at any time and free of charge to obtain information about the origin, recipient and
            purpose of your stored personal data. You also have the right to request that this data be corrected,
            blocked or deleted. You can contact us at any time at the address given in the imprint for this as well as
            for further questions on the subject of data protection. Furthermore, you have the right to appeal to the
            responsible supervisory authority.</p>
        <p>In addition, you have the right, under certain circumstances, to demand the restriction of the processing of
            your personal data. For details please refer to the data protection declaration under "Right to limitation
            of processing".</p>
        <h2>2. General information and mandatory information</h2>
        <h3>Data protection</h3>
        <p>The operators of these pages take the protection of your personal data very seriously. We treat your personal
            data confidentially and according to the legal data protection regulations as well as this data protection
            explanation.</p>
        <p>If you use this website, various personal data will be collected. Personal data is data with which you can be
            personally identified. This Privacy Policy explains what information we collect and how we use it. It also
            explains how and for what purpose this is done.</p>
        <p>We would like to point out that data transmission over the Internet (e.g. communication by e-mail) can be
            subject to security gaps. A complete protection of the data against access by third parties is not possible.
        </p>
        <h3>Reference to the responsible office</h3>
        <p>The responsible body for data processing on this website is:</p>
        <p>Jannik Rulitschka</p>
        <p>E-Mail: <span class="fakeEmailPrivacy">@</span></p>
        <p>The responsible body is the natural or legal person who alone or jointly with others decides on the purposes
            and means of processing personal data (e.g. names, e-mail addresses, etc.).</p>
        <h3>Revocation of your consent to data processing</h3>
        <p>Many data processing operations are only possible with your express consent. You can revoke your consent at
            any time. For this purpose, an informal e-mail notification to us is sufficient. The legality of the data
            processing carried out until the revocation remains unaffected by the revocation.</p>
        <h3>Right of objection against data collection in special cases and against direct advertising (Art. 21 DSGVO)
        </h3>
        <p><strong>If data processing is carried out on the basis of Art. 6 para. 1 lit. e or f DSGVO, you have the
                right at any time to object to the processing of your personal data for reasons arising from your
                particular situation; this also applies to profiling based on these provisions. The respective legal
                basis on which a processing is based can be found in this data protection declaration. If you file an
                objection, we will no longer process your personal data concerned unless we can prove compelling reasons
                for the processing worthy of protection which outweigh your interests, rights and freedoms or the
                processing serves the assertion, exercise or defence of legal claims (objection according to Art. 21
                para. 1 DSGVO).</strong></p>
        <p><strong>If your personal data are processed for the purpose of direct advertising, you have the right to
                object at any time to the processing of your personal data for the purpose of such advertising; this
                also applies to profiling in so far as it is connected with such direct advertising. If you object, your
                personal data will no longer be used for direct marketing purposes (objection according to Art. 21 para.
                2 DSGVO).</strong></p>
        <h3>Right of appeal to the competent supervisory authority</h3>
        <p>In the event of infringements of the DSGVO, the persons concerned have the right to appeal to a supervisory
            authority, in particular in the Member State of their habitual residence, workplace or place of presumed
            infringement. The right of appeal shall be without prejudice to other administrative or judicial remedies.
        </p>
        <h3>Right to data transferability</h3>
        <p>You have the right to have data which we process automatically on the basis of your consent or in fulfilment
            of a contract handed over to you or to a third party in a common, machine-readable format. If you request
            the direct transfer of the data to another responsible person, this will only be done as far as it is
            technically feasible. </p>
        <h3>SSL or TLS encryption</h3>
        <p>This site uses SSL or TLS encryption for security reasons and to protect the transmission of confidential
            content, such as orders or requests that you send to us as the site operator. You can recognize an encrypted
            connection by the fact that the address line of the browser changes from "http://" to "https://" and by the
            lock symbol in your browser line.</p>
        <p>If SSL or TLS encryption is activated, the data you transmit to us cannot be read by third parties.</p>
        <h3>Information, blocking, deletion and correction</h3>
        <p>Within the framework of the applicable legal provisions, you have the right at any time to free information
            about your stored personal data, their origin and recipient and the purpose of data processing and, if
            applicable, a right to correction, blocking or deletion of this data. You can contact us at any time at the
            address given in the imprint for this and other questions on the subject of personal data.</p>
        <h3>Right to limitation of processing</h3>
        <p>You have the right to request the restriction of the processing of your personal data. You can contact us at
            any time at the address given in the imprint. The right to restriction of the processing exists in the
            following cases:</p>
        <ul>
            <li>If you dispute the accuracy of your personal data stored with us, we usually need time to verify this.
                For the duration of the examination you have the right to demand the restriction of the processing of
                your personal data.</li>
            <li>If the processing of your personal data has taken place unlawfully, you can demand the restriction of
                data processing instead of deletion.</li>
            <li>If we no longer need your personal data, but you need it for the exercise, defence or assertion of legal
                claims, you have the right to demand the r estriction of the processing of your personal data instead of
                deletion.</li>
            <li>If you have lodged an objection pursuant to Art. 21 Para. 1 DSGVO, a balance must be struck between your
                and our interests. As long as it is not yet clear whose interests predominate, you have the right to
                demand that the processing of your personal data be restricted.</li>
        </ul>
        <p>If you have restricted the processing of your personal data, these data may only be processed - apart from
            their storage - with your consent or for the assertion, exercise or defence of legal claims or for the
            protection of the rights of another natural or legal person or for reasons of an important public interest
            of the European Union or a Member State.</p>
        <h3>Opposition to promotional e-mails</h3>
        <p>We hereby object to the use of contact data published within the scope of the imprint obligation to send
            unsolicited advertising and information material. The operators of this website expressly reserve the right
            to take legal action against unsolicited mailing or e-mailing of spam and other similar advertising
            materials.</p>
        <h2>3. Data acquisition on our website</h2>
        <h3>Server log files</h3>
        <p>The provider of the pages automatically collects and stores information in so-called server log files, which
            your browser automatically transmits to us. These are:</p>
        <ul>
            <li>Browser type and browser version used operating system</li>
            <li>Referrer URL</li>
            <li>Hostname of the accessing computer</li>
            <li>Time of the server request</li>
            <li>IP address</li>
        </ul>
        <p>This data will not be merged with other data sources.</p>
        <p>These data are collected on the basis of Art. 6 para. 1 lit. f DSGVO. The website operator has a justified
            interest in the technically error-free presentation and optimisation of his website - for this purpose, the
            server log files must be recorded.</p>
        <p>Source: <a target="_blanc" href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>
</section>
<section class="static-page legal-notice" *ngIf="showLegalNotice">
    <div (click)="toggleLegalNotice()" class="close">close</div>
    <div class="scrollable">
        <h1>Impressum - Legal Notice</h1>
        <h2>Information according to § 5 TMG</h2>
        <p> <span class="fakeAddress">
                <span class="n"></span><br />
                <span class="s"></span><br />
                <span class="c"></span>
            </span></p>
        <h2>Contact</h2>
        <p>E-mail: <span class="fakeEmail">@</span></p>
        <h3>Liability for contents</h3>
        <p>As a service provider we are responsible according to § 7 Abs.1 TMG for our own contents on these pages
            according to the general laws. According to §§ 8 to 10 TMG, we are not obliged to monitor transmitted or
            stored third-party information or to investigate circumstances that indicate illegal activity.</p>
        <p>Obligations to remove or block the use of information in accordance with general laws remain unaffected by
            this. However, liability in this respect is only possible from the time of knowledge of a concrete violation
            of the law. As soon as we become aware of such infringements, we will remove the content immediately.</p>
        <h3>Liability for links</h3>
        <p>Our offer contains links to external websites of third parties on whose contents we have no influence.
            Therefore, we cannot assume any liability for these external contents. The respective provider or operator
            of the pages is always responsible for the contents of the linked pages. The linked pages were checked for
            possible legal infringements at the time of linking. Illegal contents were not recognisable at the time of
            linking.</p>
        <p>A permanent control of the contents of the linked pages is not reasonable without concrete evidence of an
            infringement. As soon as we become aware of any legal infringements, we will remove such links immediately.
        </p>
        <h3>Copyright</h3>
        <p>The contents and works on these pages created by the site operators are subject to German copyright law.
            Duplication, processing, distribution and any form of commercialization of such material beyond the scope of
            the copyright law shall require the prior written consent of its respective author or creator. Downloads and
            copies of these pages are only permitted for private, non-commercial use.</p>
        <p>Insofar as the content on this site was not created by the operator, the copyrights of third parties are
            respected. In particular, contents of third parties are marked as such. Should you nevertheless become aware
            of a copyright infringement, please inform us accordingly. As soon as we become aware of any infringements,
            we will remove such content immediately.</p>
        <p>Source: <a target="_blanc" href="https://www.e-recht24.de">e-recht24.de</a></p>
        <h2>Font</h2>
        <p>The font Barlow was created from <a target="_blanc" href="https://tribby.com/fonts/barlow/"
                title="Jeremy Tribby">Jeremy Tribby</a> and published under the SIL Open Font Licence.</p>
    </div>
</section>