@import "../../../../styles.scss";


.dropdown {
    position: static;
    z-index: 999;
    font-size: small;

    .current-selected {
        cursor: pointer;
        padding: 0.25rem 0.5rem;
        border-radius: 0.05rem;
        color: $color-editor;
        border: #fff solid 1px;
        background-color: #fff;

        span {
            display: inline-block;
            margin-left: 0.5rem;
            @include std-text-boldest();
        }
    }

    ul {
        display: none;
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding-bottom: 0.125rem;

        &:after {
            border-radius: 0.05rem;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-color: $color-editor;
            opacity: 0.75;
        }

        li {
            list-style-type: none;
            background-color: transparent;
            padding-left: 1.4rem;

            input {
                width: 1px;
                height: 1px;
                display: inline-block;
                position: absolute;
                opacity: 0;
            }

            label {
                position: relative;
                z-index: 99;
                cursor: pointer;
                display: block;
                padding: 0.25rem 0.5rem;
                color: #fff;
                @include std-text-bold();
                line-height: 120%;

                &:hover {
                    opacity: 0.65;
                }
            }
        }

        &.action {
            &:after {
                background-color: transparent;
            }

            li {
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
    
                button {
                    cursor: pointer;
                    color: #fff;
                    border: 0;
                    background-color: transparent;
                    @include std-text-boldest();
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &.list {
            padding-top: 0.25rem;

            li:first-child {
                display: none;
            }
        }
    }


    &.is-expanded {
        ul {
            display: block;
        }
    }
}