<div class="dropdown" [ngClass]="{'is-expanded': isExpanded}" *ngIf="entries.length">
    <ul class="action">
        <li  *ngIf="actionText">
            <button type="button" (click)="actionCallback()">{{ actionText }}</button>
        </li>
    </ul>
    <div class="current-selected" (click)="isExpanded = !isExpanded">
        <i class="fas fa-stream"></i>
        <span>{{ entries[selectedIndex] }}</span>
    </div>
    <ul class="list" *ngIf="entries && entries.length > 1">
        <li *ngFor="let entry of entries; index as i;">
            <input type="radio" [value]="entry" id="entry-{{i}}"(click)="handleSelfClicked(i)" />
            <label for="entry-{{i}}">{{ entry }}</label>
        </li>
    </ul>
</div>