<div class="editor" [ngClass]="{ 'valid-input': isValid && hasResult, 'collapsable': !isEditorSpaceOpen}">
    <div class="editor-input">
        <div class="editor-validation" [ngClass]="{ 'valid': isValid && hasResult, 'invalid': !isValid && hasResult }">
            <div class="state">
                <span class="valid">VALID</span>
                <span class="invalid">INVALID</span>
                <div class="left-frills frills"></div>
                <div class="right-frills frills"></div>
            </div>
            <div class="data-local">
                <span>Whoo! You're data stays local. Always!<div class="left-frills frills"></div>
                    <div class="right-frills frills"></div>
                </span>
            </div>
            <div class="version-history">
                <app-dropdown [entries]="versionSelection" (selected)="selectedVersion($event)"
                    actionText="Delete All Versions" [showPlaceholder]="!hasResult" placeholderText="Local History" (actionClicked)="deleteVersionHistory()"></app-dropdown>
            </div>
            <div class="clear-editor" *ngIf="hasResult">
                <app-button level="third" type="trash-alt" (action)="clearEditor()" text="Clear"></app-button>
            </div>
            <textarea #rawJson (click)="changeIsEditorSpaceOpen(true)" contenteditable="false"
                spellcheck="false"></textarea>
        </div>
        <div *ngIf="isValid && hasResult" class="open-editor-space" (click)="changeIsEditorSpaceOpen(false, $event)">
            <div class="center">
                <i class="fas fa-caret-left fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="editor-formatted">
        <div class="editor-formatted-controls" [class.deactivated]="!(isValid && hasResult)">
            <div class="wrapper">
                <app-button level="second" type="toggle-visibility" (action)="toggleTypes()" [active]="showTypes"
                    text="Types">
                </app-button>
                <app-button level="second" type="toggle-fold-state" (action)="toggleFoldState()" [active]="allCollapsed"
                    [text]="!allCollapsed ? 'Collapse all' : 'Expand all'">
                </app-button>
                <app-button level="second" type="filter-fun" (action)="null" [active]="showFilter" text="Filter Function">
                </app-button>
                <div class="groupped">
                    <app-button level="first" type="micro-feedback" feedbackText="copied!" (action)="copyBeautified()"
                        text="Copy Beautified"></app-button>
                    <app-button level="first" type="micro-feedback" feedbackText="copied!" (action)="copyStringified()"
                        text="Copy Stringified"></app-button>
                </div>
            </div>
        </div>
        <section class="json-beautified" [class.show-types]="showTypes">
            <div class="json-skeleton" [class.show]="hasResult && structuredJson.length === 0">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="scrollable" *ngIf="hasResult">
                <div class="editor-result" [class.ongoing-process]="hasResult && isJsonParsing">
                    <div class="editor-numeration">
                        <span *ngFor="let i of [].constructor(editorNumerationCount); let row = index">{{ row + 1 }}</span>
                    </div>
                    <ul>
                        <ng-template #recursiveList let-list>
                            <li *ngFor="let item of list; let i = index" class="type-{{ item.type }}"
                                [ngClass]="{'hide-content': !item.show, 'has-content': item.value && item.value.length, 'one-line-value': item.value && item.value.length > 500}">
                                <div class="json-header">
                                    <span class="json-key" *ngIf="item.key"
                                        (click)="item.type === TYPES.ARRAY || item.type === TYPES.OBJECT ? item.show = !item.show : null">"<span
                                            class="copy-value"
                                            title="{{ item.type === TYPES.ARRAY || item.type === TYPES.OBJECT ? 'Click to collapse or ' : '' }}Long Press to copy key"
                                            appLongPress
                                            (longPress)="copyValue(item.key)">{{item.key}}</span>":&nbsp;</span><span
                                        class="json-type {{ item.type }}"></span><span (click)="item.show = !item.show"
                                        class="json-bracket start"
                                        *ngIf="item.type === TYPES.OBJECT">{{ '{' }}</span><span
                                        (click)="item.show = !item.show" class="json-bracket start"
                                        *ngIf="item.type === TYPES.ARRAY">{{ '[' }}</span>
                                    <span class="node-array-counter"
                                        *ngIf="item.type === TYPES.ARRAY && item.show">{{ item.value.length + ' ' + (item.value.length === 1 ? 'value' : 'values') }}</span>
                                    <span class="node-actions" [class.flying]="item.value.length === 0"
                                        *ngIf="(item.type === TYPES.ARRAY || item.type === TYPES.OBJECT) && item.show">
                                        <app-button *ngIf="item.type === TYPES.OBJECT && item.value.length > 0"
                                            level="inline" type="sort-up" (action)="sortNode(item.id)" text="Sort ASC">
                                        </app-button>
                                        <app-button *ngIf="item.type === TYPES.OBJECT && item.value.length > 0"
                                            class="margin-right-small" level="inline" type="sort-down"
                                            (action)="sortNode(item.id, false)" text="Sort DESC">
                                        </app-button>
                                        <app-button class="remove" level="inline" type="trash-alt"
                                            (action)="removeNode(item.id)" text="Remove">
                                        </app-button>
                                    </span>
                                </div>
                                <ul
                                    *ngIf="item.type === TYPES.ARRAY || item.type === TYPES.OBJECT; else stringTemplate">
                                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.value }">
                                    </ng-container>
                                </ul>
                                <ng-template #stringTemplate [ngSwitch]="item.type">
                                    <span class="json-value null" *ngSwitchCase="TYPES.NULL">null<span
                                            class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                    <span class="json-value"
                                        *ngSwitchCase="TYPES.BOOLEAN">{{item.value ? 'true' : 'false'}}<span
                                            class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                    <span class="json-value" *ngSwitchCase="TYPES.STRING">"<span class="copy-value"
                                            title="Long Press to copy value" appLongPress
                                            (longPress)="copyValue(item.value)">{{item.value}}</span>"<span
                                            class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                    <span class="json-value" *ngSwitchCase="TYPES.DATA_BASE64">"<span class="copy-value"
                                            title="Long Press to copy value" appLongPress
                                            (longPress)="copyValue(item.value)">{{item.value}}</span>"<span
                                            class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                    <span class="json-value" *ngSwitchCase="TYPES.URL">"<a class="copy-value"
                                            [href]="item.value" target="_blanc"
                                            title="Press to open URL / Long Press to copy URL" appLongPress
                                            (longPress)="copyValue(item.value)">{{item.value}}</a>"<span
                                            class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                    <span class="json-value" *ngSwitchCase="TYPES.NUMBER"><span class="copy-value"
                                            title="Long Press to copy value" appLongPress
                                            (longPress)="copyValue(item.value)">{{item.value}}</span><span
                                            class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                    <span class="value-action">
                                        <app-button class="filter margin-left-small" level="inline" type="filter"
                                            (action)="removeNode(item.id)" text="Filter">
                                        </app-button>
                                        <app-button class="remove" level="inline" type="trash-alt"
                                            (action)="removeNode(item.id)" text="Remove">
                                        </app-button>
                                    </span>
                                </ng-template>
                                <span class="json-bracket" *ngIf="item.type === TYPES.OBJECT">{{ '}' }}<span
                                        class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                <span class="json-bracket" *ngIf="item.type === TYPES.ARRAY">{{ ']' }}<span
                                        class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                            </li>
                        </ng-template>
                        <ng-container
                            *ngTemplateOutlet="recursiveList; context: { $implicit: structuredJson, indexPar: -1 }">
                        </ng-container>
                    </ul>
                </div>
            </div>
        </section>
        <textarea id="shadowedTextarea" #shadowedTextarea></textarea>
    </div>
</div>