@import "../../../styles.scss";

.editor {
    position: relative;
    z-index: 999;
    height: 100%;
    background-color: $color-editor;
    border-radius: .25rem;
    box-shadow: 0 0 1.75rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.editor-input {
    height: 100%;
    width: 50%;
    float: left;
    padding: 0.5rem 0.25rem 0.5rem 0.5rem;

    @include respond-to('small') {
        float: none;
        width: 100%;
        height: 100vh;
    }

    .editor-validation {
        position: relative;
        padding: 0.5rem;
        height: 100%;

        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0.35;
            border-radius: 0.125rem;
            transition: 300ms ease background-color;
            background-color: rgb(255, 255, 255, 0.15);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        }

        .data-local {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 999;
            bottom: 1.3rem;
            text-align: center;

            span {
                display: inline-block;
                position: relative;
                @include std-text-boldest();
                color: #fff;
                opacity: 0.65;
                font-size: small;
                text-shadow: 0 0 3px rgba(0, 0, 0, 0.65);
            }
        }

        .version-history {
            position: absolute;
            bottom: 1rem;
            right: 1.75rem;
            z-index: 999;
        }

        .state {
            position: absolute;
            top: 1rem;
            right: 1.75rem;
            z-index: 999;

            span {
                display: none;
                @include std-text-boldest();
                font-size: x-large;
                color: #fff;
            }
        }

        &.valid {
            .state .valid {
                display: block;
            }

            &:after {
                background-color: $color-valid;
            }
        }

        &.invalid {
            .state .invalid {
                display: block;
            }

            &:after {
                background-color: $color-invalid;
            }
        }

        textarea {
            display: block;
            resize: none;
            padding: 0.5rem;
            @include std-text-mono();
            font-size: .725rem;
            height: 100%;
            max-height: 100%;
            width: 100%;
            color: #fff;
            border: 0;
            outline: none;
            border-radius: .125rem;
            background: none;
            line-height: 150%;
        }
    }
}

.editor-formatted {
    float: right;
    position: relative;
    width: 50%;
    height: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.25rem;

    @include respond-to('small') {
        float: none;
        width: 100%;
    }

    .editor-formatted-controls {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 0.25rem;
        border-radius: 0.05rem;

        button {
            position: relative;
            display: inline-block;
            cursor: pointer;
            margin: 0 0.25rem;
            background-color: $color-highlight;
            border: none;
            outline: none;
            @include std-text-boldest();
            font-size: small;
            color: $color-editor;
            padding: 0.25rem 0.5rem;
            border-radius: 0.05rem;
            transition: 300ms ease background-color;
            border: 1px solid transparent;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.85);
            }

            &:active {
                transform: scale(0.95);
            }

            &.copy-fun {
                &:after {
                    opacity: 0;
                    content: "copied!";
                    text-transform: uppercase;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 0.25rem 0.5rem;
                    @include std-text-boldest();
                    font-size: medium;
                    color: $color-editor;
                }

                @keyframes fly-away {
                    0% {
                        opacity: 1;
                    }

                    25% {
                        color: $color-highlight;
                    }

                    100% {
                        opacity: 1;
                        top: -3rem;
                    }
                }

                &:active {
                    color: transparent;

                    &:after {
                        opacity: 1;
                        animation: fly-away ease 0.1s;
                    }
                }
            }

            &.groupped-left {
                margin-right: 0.125rem;
            }

            &.groupped-right {
                margin-left: 0.125rem;
            }

            &.type-switch {
                .show-on-active {
                    display: none;
                }

                &.active {
                    background-color: rgba(255, 255, 255, 1);

                    .show-on-active {
                        display: inline-block;
                    }

                    .hide-on-active {
                        display: none;
                    }
                }

                &:not(.active) {
                    background-color: rgba(255, 255, 255, 0);
                    border: 1px solid #fff;
                    color: #fff;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.25);
                    }
                }
            }

            i {
                margin-right: 0.3rem;
                width: 16px;
            }
        }
    }

    .editor-result {
        position: relative;
        padding-left: 0.5rem;
        overflow-y: hidden;

        .editor-numeration {
            position: absolute;
            top: 0;
            left: 0;
            text-align: right;
            border-right: 1px solid rgba(255, 255, 255, 0.4);
            padding-right: 0.5rem;
            line-height: 150%;

            span {
                display: block;
                color: rgba(255, 255, 255, 0.55);
            }
        }
    }

    section.json-beautified {
        display: block;
        color: #fff;
        padding: 1rem;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        &>* {
            color: #d7c3fb;
            @include std-text-mono();
            font-size: .725rem;
            line-height: 150%;
        }

        ul li {
            list-style-type: none;
            position: relative;

            &.type-array {
                & > ul > li.type-null:hover:before,
                & > ul > li.type-string:hover:before,
                & > ul > li.type-number:hover:before {
                    content: "";
                    position: absolute;
                    left: calc(-50px - 0.25rem);
                    opacity: 0.5;
                    display: block;
                    width: 50px;
                    text-align: right;
                }

                @for $i from 1 through 200 {
                    & > ul > li:nth-child(#{$i}):hover:before {
                        content: "#{$i - 1}";
                    }
                  }
            }

            &.type-object,
            &.type-array {
                &:not(.has-content) {
                    &>.json-bracket {
                        display: inline-block;
                    }

                    &>ul {
                        display: none;
                    }
                }

                &:hover:after {
                    content: "";
                    position: absolute;
                    border-left: 1px solid rgba(255, 255, 255, 0.2);
                    left: 0.25rem;
                    top: 1rem;
                    bottom: 1rem;
                }

                &>span.json-key {
                    cursor: pointer;
                }
            }
        }

        ul {
            margin: 0;
            padding-left: 2rem;
        }

        & .scrollable>ul {
            padding-left: 0 !important;
        }

        .json-key {}

        .json-type {
            display: none;
            vertical-align: top;

            &:after {
                content: "";
                color: $color-editor;
                background-color: #fff;
                font-size: x-small;
                line-height: 110%;
                padding: 0 0.1rem;
                margin: 0.25rem 0.5rem 0 0;
                @include std-text-boldest();
                border-radius: 0.1rem;
            }

            &.object:after {
                content: "OBJECT";
            }

            &.null:after {
                display: none;
            }

            &.boolean:after {
                content: "BOOLEAN";
            }

            &.array:after {
                content: "ARRAY";
            }

            &.number:after {
                content: "NUMBER";
            }

            &.string:after {
                content: "STRING";
            }
        }

        &.show-types {
            .json-type {
                display: inline-block;
            }
        }

        .json-value {
            color: #BBAC38;
        }

        .json-commata {
            display: inline-block,
        }

        .json-bracket {
            display: block;
            position: relative;

            &.start {
                display: inline-block;
                cursor: pointer;

                &:before {
                    position: absolute;
                    top: -0.25rem;
                    bottom: -0.25rem;
                    left: -0.25rem;
                    right: -0.25rem;
                    content: "";
                }
            }
        }

        .hide-content {
            .json-bracket {
                display: inline-block;

                &.start:after {
                    content: "...";
                }
            }

            &>*:not(.json-bracket):not(.json-key):not(.json-type) {
                display: none;
            }
        }
    }

    #shadowedTextarea {
        position: relative;
        top: 1000px;
        opacity: 0;
    }
}

$element-height-complete: 1.8rem;
$element-height-complete-local: 1rem;
$frill-vert-space: 1rem;
$frill-horizontal-offset: 1.2rem;
$frill-distance: 0.6rem;
$frill-stagger: 0.4rem;

$frill-rotation: 40deg;
$frill-height: 0.1rem;
$frill-width: 1rem;

$speed: 0.32s;
$timing-function: ease-out;
$delay: 0.32s;
$delay-local: 1s;

.frills,
.frills:after,
.frills:before {
    position: absolute;
    background: #fff;
    border-radius: ($frill-height/2);
    height: $frill-height;
}

.frills:after,
.frills:before {
    content: "";
    display: block;
}

.frills:before {
    bottom: $frill-vert-space;
}

.frills:after {
    top: $frill-vert-space;
}

.left-frills {
    left: calc(-1 * #{$frill-horizontal-offset});
    top: ($element-height-complete/2)- ($frill-height/2);

    .valid & {
        animation: move-left $speed $timing-function $delay,
            width-to-zero $speed $timing-function $delay;
    }

    &:before,
    &:after {
        left: $frill-stagger;
    }

    &:before {
        .valid & {
            animation: width-to-zero $speed $timing-function $delay,
                move-up $speed $timing-function $delay;
        }
    }

    &:after {
        .valid & {
            animation: width-to-zero $speed $timing-function $delay,
                move-down $speed $timing-function $delay;
        }
    }
}

.right-frills {
    right: calc(-1 * #{$frill-horizontal-offset});
    top: ($element-height-complete/2)- ($frill-height/2);

    .valid & {
        animation: move-right $speed $timing-function $delay,
            width-to-zero $speed $timing-function $delay;
    }

    &:before,
    &:after {
        right: $frill-stagger;
    }

    &:before {
        .valid & {
            animation: width-to-zero $speed $timing-function $delay,
                move-up $speed $timing-function $delay;
        }
    }

    &:after {
        .valid & {
            animation: width-to-zero $speed $timing-function $delay,
                move-down $speed $timing-function $delay;
        }
    }
}

.left-frills:before,
.right-frills:after {
    transform: rotate($frill-rotation);
}

.left-frills:after,
.right-frills:before {
    transform: rotate(-$frill-rotation);
}


.data-local {

    .left-frills,
    .right-frills {
        top: ($element-height-complete-local/2)- ($frill-height/2);
    }

    .left-frills {
        animation: move-left $speed $timing-function $delay-local,
            width-to-zero $speed $timing-function $delay-local;

        &:before {
            animation: width-to-zero $speed $timing-function $delay-local,
                move-up $speed $timing-function $delay-local;
        }

        &:after {
            animation: width-to-zero $speed $timing-function $delay-local,
                move-down $speed $timing-function $delay-local;
        }
    }

    .right-frills {
        animation: move-right $speed $timing-function $delay-local,
            width-to-zero $speed $timing-function $delay-local;

        &:before {
            animation: width-to-zero $speed $timing-function $delay-local,
                move-up $speed $timing-function $delay-local;
        }

        &:after {
            animation: width-to-zero $speed $timing-function $delay-local,
                move-down $speed $timing-function $delay-local;
        }
    }
}



@keyframes move-left {
    0% {
        transform: none;
    }

    65% {
        transform: translateX(-1 * $frill-distance);
    }

    100% {
        transform: translateX(-1 * $frill-distance);
    }
}

@keyframes move-right {
    0% {
        transform: none;
    }

    65% {
        transform: translateX($frill-distance);
    }

    100% {
        transform: translateX($frill-distance);
    }
}

@keyframes width-to-zero {
    0% {
        width: $frill-width;
    }

    100% {
        width: $frill-height;
    }
}

@keyframes move-up {
    0% {}

    100% {
        bottom: $frill-vert-space * 1.55;
    }
}

@keyframes move-down {
    0% {}

    100% {
        top: $frill-vert-space * 1.55;
    }
}