<div class="editor">
    <div class="editor-input">
        <div class="editor-validation" [ngClass]="{ 'valid': isValid && hasResult, 'invalid': !isValid && hasResult }">
            <div class="state">
                <span class="valid">VALID</span>
                <span class="invalid">INVALID</span>
                <div class="left-frills frills"></div>
                <div class="right-frills frills"></div>
            </div>
            <div class="data-local">
                <span>Whoo! You're data stays local. Always!<div class="left-frills frills"></div>
                    <div class="right-frills frills"></div>
                </span>
            </div>
            <div class="version-history">
                <app-dropdown [entries]="versionSelection" (selected)="selectedVersion($event)"
                    actionText="Delete All Versions" (actionClicked)="deleteVersionHistory()"></app-dropdown>
            </div>
            <textarea #rawJson contenteditable="false" spellcheck="false"></textarea>
        </div>
    </div>
    <div class="editor-formatted">
        <div class="editor-formatted-controls">
            <div class="wrapper">
                <app-button level="second" type="toggle-visibility" (action)="toggleTypes()" [active]="showTypes"
                    text="Types">
                </app-button>
                <div class="groupped">
                    <app-button level="first" type="micro-feedback" feedbackText="copied!" (action)="copyBeautified()"
                        text="Copy Beautified"></app-button>
                    <app-button level="first" type="micro-feedback" feedbackText="copied!" (action)="copyStringified()"
                        text="Copy Stringified"></app-button>
                </div>
            </div>
        </div>
        <section class="json-beautified" *ngIf="isValid && hasResult" [class.show-types]="showTypes">
            <div class="scrollable">
                <div class="editor-result">
                    <div class="editor-numeration">
                        <span *ngFor="let i of [].constructor(500); let row = index">{{ row + 1 }}</span>
                    </div>
                    <ul>
                        <ng-template #recursiveList let-list>
                            <li *ngFor="let item of list; let i = index" class="type-{{ item.type }}"
                                [ngClass]="{'hide-content': !item.show, 'has-content': item.value && item.value.length, 'one-line-value': item.value.length > 500}">
                                <div class="json-header">
                                    <span class="json-key" *ngIf="item.key"
                                        (click)="item.type === TYPES.ARRAY || item.type === TYPES.OBJECT ? item.show = !item.show : null">"<span class="copy-value" title="Click to copy value" (click)="copyValue(item.value)">{{item.key}}</span>":&nbsp;</span><span
                                        class="json-type {{ item.type }}"></span><span (click)="item.show = !item.show"
                                        class="json-bracket start"
                                        *ngIf="item.type === TYPES.OBJECT">{{ '{' }}</span><span
                                        (click)="item.show = !item.show" class="json-bracket start"
                                        *ngIf="item.type === TYPES.ARRAY">{{ '[' }}</span>
                                    <span class="node-actions"
                                        *ngIf="(item.type === TYPES.OBJECT || item.type === TYPES.ARRAY) && item.show">
                                        <app-button level="inline" type="sort-up" (action)="sortNode(item.id)"
                                            text="Sort ASC">
                                        </app-button>
                                        <app-button level="inline" type="sort-down" (action)="sortNode(item.id, false)"
                                            text="Sort DESC">
                                        </app-button>
                                        <app-button class="remove margin-left-small" level="inline" type="trash-alt"
                                            (action)="removeNode(item.id)" text="Remove">
                                        </app-button>
                                    </span>
                                </div>
                                <ul
                                    *ngIf="item.type === TYPES.ARRAY || item.type === TYPES.OBJECT; else stringTemplate">
                                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.value }">
                                    </ng-container>
                                </ul>
                                <ng-template #stringTemplate [ngSwitch]="item.type">
                                    <span class="json-value null" *ngSwitchCase="TYPES.NULL">null<span
                                            class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                    <span class="json-value"
                                        *ngSwitchCase="TYPES.BOOLEAN">{{item.value ? 'true' : 'false'}}<span
                                            class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                    <span class="json-value" *ngSwitchCase="TYPES.STRING">"<span class="copy-value" title="Click to copy value" (click)="copyValue(item.value)">{{item.value}}</span>"<span
                                            class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                    <span class="json-value" *ngSwitchCase="TYPES.DATA_BASE64">"<span class="copy-value" title="Click to copy value" (click)="copyValue(item.value)">{{item.value}}</span>"<span
                                            class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                    <span class="json-value" *ngSwitchCase="TYPES.URL">"<a [href]="item.value"
                                            target="_blanc">{{item.value}}</a>"<span class="json-commata"
                                            *ngIf="i !== (list.length - 1)">,</span></span>
                                    <span class="json-value" *ngSwitchCase="TYPES.NUMBER"><span class="copy-value" title="Click to copy value" (click)="copyValue(item.value)">{{item.value}}</span><span
                                            class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                    <span class="value-action">
                                        <app-button class="remove margin-left-small" level="inline" type="trash-alt"
                                            (action)="removeNode(item.id)" text="Remove">
                                        </app-button>
                                    </span>
                                </ng-template>
                                <span class="json-bracket" *ngIf="item.type === TYPES.OBJECT">{{ '}' }}<span
                                        class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                                <span class="json-bracket" *ngIf="item.type === TYPES.ARRAY">{{ ']' }}<span
                                        class="json-commata" *ngIf="i !== (list.length - 1)">,</span></span>
                            </li>
                        </ng-template>
                        <ng-container
                            *ngTemplateOutlet="recursiveList; context: { $implicit: structuredJson, indexPar: -1 }">
                        </ng-container>
                    </ul>
                </div>
            </div>
        </section>
        <textarea id="shadowedTextarea" #shadowedTextarea></textarea>
    </div>
</div>