@import "../../../../styles.scss";

header {
    height: 7vh;
    margin-bottom: 1.25rem;
    position: relative;

    @include respond-to('small') {
        height: 30vh;
    }

    nav {
        position: absolute;
        left: 2rem;
        bottom: 0;
        z-index: 9;

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                list-style-type: none;
                margin-right: 2.25rem;

                @include respond-to('small') {
                    margin-right: 1rem;
                }

                a {
                    position: relative;
                    display: inline-block;
                    @include std-text-bold();
                    font-size: x-large;
                    color: #fff;
                    text-decoration: none;
                    padding: 0.15rem;
                    transition: 300ms ease opacity;
                    color: rgba(255, 255, 255, 0.5);

                    @include respond-to('small') {
                        font-size: medium;
                    }
                    @include respond-to('medium') {
                        font-size: large;
                    }

                    &.active {
                        color: rgba(255, 255, 255, 1);
                        @include std-text-boldest();
                        border-bottom: 2px solid $color-highlight;
                    }

                    &.disabled:hover {
                        color: rgba(255, 255, 255, 0.15);

                        &:after {
                            @include std-text-boldest();
                            content: "PLANNED";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            padding: 0.1rem;
                            text-align: center;
                            font-size: small;
                            color: #fff;
                        }

                    }
                }
            }
        }
    }

    .logo {
        position: absolute;
        right: 1rem;
        bottom: 0;
        z-index: 9;

        .main,
        .subline {
            @include std-text-bold();
            color: $color-highlight;
            font-size: 2.25rem;
            text-align: right;

            @include respond-to('small') {
                font-size: 1.65rem;
            }
            @include respond-to('medium') {
                font-size: 2.125rem;
            }
        }

        .main {
            letter-spacing: .75rem;
            text-shadow: 0 1px 3px rgba(0, 0, 0, .35);
            position: relative;

            &:after {
                content: "BETA";
                position: absolute;
                bottom: 50%;
                transform: translateY(65%);
                left: 1.8rem;
                @include std-text-boldest();
                color: #fff;
                background-color: #000;
                font-size: small;
                letter-spacing: 0;
                padding: 0 0.1rem;
                opacity: 0;
                animation: show ease-in 0.3s forwards 0.5s;

                @include respond-to('small') {
                    left: 1.55rem;
                    font-size: x-small;
                }
                @include respond-to('medium') {
                    left: 1.85rem;
                }
            }

            @keyframes show {
                0% {
                    opacity: 0;
                }

                25% {
                    opacity: 1;
                }

                60% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        .subline {
            z-index: -1;
            color: #fff;
            font-size: 1.1rem;
            margin-top: -.25rem;
            margin-right: 1rem;
            opacity: .6;

            @include respond-to('small') {
                font-size: 1rem;
            }
            @include respond-to('medium') {
                font-size: 1.1rem;
            }
        }

        .subline span {
            @include std-text();
        }
    }
}