<header>
    <nav>
        <ul>
            <li><a [routerLink]="[ ROUTES.JSON_VALIDATOR ]" routerLinkActive="active">JSON Validator</a></li>
            <li><a [routerLink]="[ ROUTES.STRING_LENGTH ]" routerLinkActive="active">String Length Calculator</a></li>
            <!-- <li><a class="disabled" [routerLink]="['/rest-api']" routerLinkActive="active">In-Browser REST API</a></li> -->
        </ul>
    </nav>
    <div class="logo">
        <div class="main">MOCKTHAT</div>
        <div class="subline">.dev<span>elopment tools</span></div>
    </div>
</header>