/* barlow-semi-condensed-200 - latin */
@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 200;
    src: url('css/fonts/barlow-semi-condensed-v5-latin-200.eot');
    /* IE9 Compat Modes */
    src: local('Barlow Semi Condensed ExtraLight'), local('BarlowSemiCondensed-ExtraLight'),
        url('css/fonts/barlow-semi-condensed-v5-latin-200.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('css/fonts/barlow-semi-condensed-v5-latin-200.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('css/fonts/barlow-semi-condensed-v5-latin-200.woff') format('woff'),
        /* Modern Browsers */
        url('css/fonts/barlow-semi-condensed-v5-latin-200.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('css/fonts/barlow-semi-condensed-v5-latin-200.svg#BarlowSemiCondensed') format('svg');
    /* Legacy iOS */
}

/* barlow-semi-condensed-regular - latin */
@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('css/fonts/barlow-semi-condensed-v5-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'),
        url('css/fonts/barlow-semi-condensed-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('css/fonts/barlow-semi-condensed-v5-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('css/fonts/barlow-semi-condensed-v5-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('css/fonts/barlow-semi-condensed-v5-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('css/fonts/barlow-semi-condensed-v5-latin-regular.svg#BarlowSemiCondensed') format('svg');
    /* Legacy iOS */
}

$font-family: 'Barlow Semi Condensed';

$color-highlight: #D58936;
$color-base: #2F4858;